html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-body);
    line-height: 1.5;
}

.container {
    width: 100%;
    max-width: 1280px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

