html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    background-color: var(--color-bg);
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.app-container {
    width: 100%;
    max-width: 1280px;
    margin: 88px auto 24px;
}